storage:none
source https://api.nuget.org/v3/index.json

framework: net461, netstandard2.0, netcoreapp3.1
nuget FSharp.Core
nuget Argu

source https://gitlab.com/api/v4/projects/28574921/packages/nuget/index.json
storage: none
nuget FSharpMyExt

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core 4.7.2
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
